@font-face {
    font-family: pit;
    src: url(../CaviarDreams.ttf);
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'pit', sans-serif;
}


header{
    width: 100%;
}
header nav {
    width: 95%;
    max-width: 1000px;
   margin: 20px auto;
   background: #9c29a1;
   position: absolute;
}

.menu-bar{
    display: none;
}
header nav ul {
    overflow: hidden;
    list-style: none;
    left: 30%;
}

header nav ul li a{
    color: #fff;
    padding: 20px;
    display: block;
    text-decoration: none;
}
header nav ul li span{
    margin-right: 10px;
}
header nav ul li a:hover{
    background: rgba(4, 3, 10, 0.658);
}

section{
    padding: 20px;
}


.nav li a:hover{
    background-color: #34091C;
    transition: all 0.80s;

}
.nav > li{
 float: left;
 
}

.nav li ul {
    transition: all 0.80s;
    display: none;
    position: absolute;
    min-width: 140px;
  

}

.nav li:hover > ul{
    display: block;
    transition: all 0.80s;

}
.nav li ul li{
    position: relative;
    transition: all 0.80s;
}

.nav li ul li ul {
    transition: all 0.80s;
    position: relative;
    right: -80px;
    top: 0px;
    transition: all 0.5s;
}

@media screen and (max-width:800px){
    header nav {
        width: 80%;
        height: 100%;
        margin: 0;
        position: fixed;
    }
}






/*CLASE DE LOS ICONOS*/

[class*="icon-"]:before{
    position: relative;
    color: rgba(25, 16, 73, 0.658);
    font-size: 25px;
    padding: 0px;

}
[class="icon-home-1"]:before{
    position: relative;
    color: rgba(255, 255, 255, 0.815);
    font-size: 25px;
    padding: 0px;

}













