@font-face {
    font-family: pit;
    src: url(../CaviarDreams.ttf);
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'pit', sans-serif;
}


header{
    width: 100%;
}
header nav {
    width: 90%;
    max-width: 1000px;
   margin: 20px auto;
   background: #9c29a1;
   position: absolute;
}

.menu-bar{
    display: none;
}
header nav ul {
    overflow: hidden;
    list-style: none;
}

header nav ul li a{
    color: #fff;
    padding: 20px;
    display: block;
    text-decoration: none;
}
header nav ul li span{
    margin-right: 10px;
}
header nav ul li a:hover{
    background: rgba(4, 3, 10, 0.658)
}

section{
    padding: 20px;
}






/*CLASE DE LOS ICONOS*/

[class*="icon-"]:before{
    position: relative;
    color: rgba(25, 16, 73, 0.658);
    font-size: 25px;
    padding: 0px;

}[class="icon-home-1"]:before{
    position: relative;
    color: rgba(255, 255, 255, 0.815);
    font-size: 25px;
    padding: 0px;

}













