@font-face {
    font-family: pit;
    src: url(../CaviarDreams.ttf);
}

*{
    padding: 0px;
    margin: 0px;
    font-family: 'pit', sans-serif;
}

/*________________________________________________________*/
#header{
    width: 100%;
    background-color: #9c29a1;
}
#header nav{
 width: 100%;
 max-width: 100px;
 margin: 20px auto;
 background-color: #9c29a1;
}

#header nav{
    overflow: hidden;
    list-style: none;

    transition: all 0.80s;
}
#header nav ul li{
    float: left;

}
#header nav ul li a{
    color: #fff;
    padding: 20px;
    display: block;
    text-decoration: none;
}
#header nav ul li span{
    margin-right: 10px;
}
#header nav ul li a:hover{
    background: rgba(4, 3, 10, 0.658)
}
/*________________________________________________________*/


/* #fondo{
    margin: auto;
    position: fixed;
    background-color: #9c29a1;
    width: 100%;
    height: 3%;
    padding: 17px 20px;
    
} */
/*
#fondo img{
    position: absolute;
    top: 20%;
    height: 30px;
    width: 40px;
    left: 5%;
} */




@media screen and (max-width:800px){
  #header .nav{
        width: 80%;
        height: 100%;
        margin: 0;
        position: fixed;
    }
}

/*CLASE DE LOS ICONOS*/

[class*="icon-"]:before{
    position: fixed;
    color: rgba(25, 16, 73, 0.658);
    font-size: 25px;
    padding: 0px;

}[class="icon-home-1"]:before{
    position: fixed;
    color: rgba(255, 255, 255, 0.815);
    font-size: 25px;
    padding: 0px;

}

/*CLASE DEL CUERPO COMPLETO*/





















