{% extends "layout.html" %}

{% block content %}
 <div class="contenedor sect2">
                <div id="contraste1">
                   <p class="set6" >te va a cargar</p>
                </div>
           
</div>
            <div class="sect3">
                    <div class="d7 txt-center p40">
                        <p class="f30 set4">
                            AUTOMATIZACIÓN DE PROCESOS
                        </p>
                        <p class="f38 set4">ACADEMICOS</p><br>
                        <P class="f28 set4">Gestion Escolar</P><br><br><br><br>

                       <a class="f40 set5" href="/init.php">Ver más</a><br>
                        
                        <p class="f28 p40 set4">Herramienta que lleva un control de Grupos Escolares</p>
                        </div>
                        
                        <div class="d5">
                         <img id="chart" src="/imagen/charts.png" alt="">
                        </div>
            </div> 
            
                    <div class="p5 sect1">
                        <div id="contraste2">
                           <p class="f34 txt-center set3 fb">
                               
                            Crea una Cultura de trabajo qué conecta a los
                            jovenes a tener la información que necesitan en sus manos.

                           </p><br>
                           <img id="centro" src="/imagen/brain.png" alt="">
                            
                        </div>
                    </div>

                    <footer class="">
                            <div class="p40 contenedor">
                                <p class="copy">daveindustries &copy; 2017</p>
                            </div>
                        </footer>


{% endblock %}
